
.upcomingOrdersPopup > div > div > .orderList {
    margin-bottom: 15px; /* disables bottom margin for order lists in orders without order buttons */

}

.upcomingOrdersPopup > div > .orderContainer.in-progress {
    min-height: 0;
}

.upcomingOrdersPopup {
    position: relative;
}