.notesPara {
  color: #eee;
  font-size: 36px;
  padding: 15px 50px;
  font-family: Georgia, 'Times New Roman', Times, serif; /* Give it a notey-feel */
  font-weight: normal;
}

.orderID {
  text-transform: uppercase;
}