.cool-button {
    background: #37b4ff;
    width: 250px;
    height: 100px;
    left: 50px;
    top: 50px;
    text-align: center;
    color: #e2e2e4;
  font-size: 16px;
  font-weight: bold;
}

p {
  text-align: center;
}

.question {
  text-align: center;
  color: black;
  margin-top: 3em;
  font-size: 20px

}

.txt {
  text-align: center;
  color: #FFF
}