.cool-button {
    background: #37b4ff;
    width: 250px;
    height: 100px;
    left: 50px;
    top: 50px;
}

p {
  text-align: center;
}

.question {
  text-align: center;
  color: black;
  top: 50px;
}

.txt {
  text-align: center;
  color: #FFF
}