.ingredientList > li {
    margin-left: 25px;
    font-size: 80%;
}

.ingredientList {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

.outofStockPopup > div > ul > li {
    clear: left; /* Stop left wrap */
    user-select: none; /* Disable text highlighting */
}

/* Add spacing between lists of ingredients and drinks */
.outofStockPopup > div > ul > li, .outofStockPopup > div > ul > li > ul > li:last-child {
    margin-bottom: 12px;
}

.outofStockPopup > div > ul > li > ul > li { cursor: pointer; position: relative; float: left; clear: left; } /* Auto size li to text size and allow ::before and ::after positioning to be relative */

/* Add styleable text strike-through */
.outofStockPopup > div > ul > li > ul > li.outOfStock::before {
    content: " ";
    width: 100%;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 54%; /* Vertically strike-through line */
}

/* Add red out of stock text to items */
.outofStockPopup > div > ul > li > ul > li.outOfStock::after {
    content: "out of stock";
    text-transform: uppercase;
    color: rgb(200, 0, 0);
    font-size: 75%;
    
    white-space: nowrap; /* Auto size width and height without wrapping words */
    position: absolute;
    top: 4px;
    margin-left: 10px;
}