.ingredientList > li {
    padding-left: 25px;
    font-size: 80%;
}

.ingredientList {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

.outofStockPopup > div > ul > li {
    margin-bottom: 12px; /* ensures orderButtonsContainer never overlaps orderList items */
}