/* .App {
  text-align: center;
} */

html {
  background: #282c34;
}

.App {
  color: white;
  min-height: 100vh;
}

.App-header {
  padding: 12px 35px;
}

/* Heading stylings: */
h1, h2, h3 { text-transform: uppercase; }
h1 { color: #868686; margin: 45px 0 8px; }
h2 { margin: 22px 0 23px 0px; color: white; }
h3 { color: #999999; }
h4 {
  color: #868686;
  text-align: center;
}

/* Space account quick-switch buttons */
#accountsHotbar button {
  margin-right: 15px;
}

/* Div to keep account switch button pinned to page top-right */
#accountSwitcherContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: inherit; /* Keep account switch button inside page padding */
}

.ordersContainer {
  padding-left: 18px;
}

.orderContainer {
  background: #3F2B44;
  border-radius: 16px;
  border: 2px solid #000000;
  position: relative;
  padding-left: 12px;
}

.orderContainer:not(:last-child) {
  margin-bottom: 7px;
}

.orderButtonsContainer {
  position: absolute;
  top: 0;
  right: 0;
}

button.orderButton {
  border: none;
  background: #583D5F;
  border-radius: 20px;
  width: 242px;
  height: auto;
  margin: 7px;
  padding: 11px 9px;
}
button.orderButton .icon {
  width: 40px;
  height: 40px;
  background: red;
  display: block;
  border-radius: 300px;
  float: left;

  width: 47px;
  height: 47px;
  margin-top: -3px;
}

button.orderButton .title, button.orderButton .subtitle {
  float: left;
  margin-left: 7px;
}

button.orderButton .title { color: #E4E4E4; }
button.orderButton .subtitle {
  color: #BCBCBC;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Same as body */
}